/* Couleurs de mon site */
body {
	background-color: #F4F2F1;
}

/* Couleurs et tailles de mes titres */
h2 {
	color:#00664E;
	font-size: 40px;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-decoration: underline;
}
h1 {
	color:#FFC24A;
	font-size: 40px;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-decoration: underline;
}
h3 {
	color:#00664E;
	font-size: 40px;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-decoration: underline;
}
a {
	text-decoration: none;
}

/* Couleurs et tailles de mon texte */
p {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}


/* Couleurs et tailles liens */
.experience {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}

/* Mise en forme de mon menu */
.titresnavigation{
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 30px;
	
}
.quijesuis, .acceuil, .monexperience, .contact {
	text-decoration: none;
	background-color: #00664E;
	color: #F4F2F1;
	border: 6px solid #00664E;
	border-radius: 7px;
	padding: 10px;
	box-shadow: 10px 10px 10px #afafaf;
	padding-top: 2px;
	padding-bottom: 2px;
}

/*Interactions des boutons menu*/
.quijesuis:hover {
	color: #00664E;
	background-color: #14C99F;
	text-decoration: underline;
	border-radius: 7px;
	border: 6px solid #14C99F;
}
.acceuil:hover {
	color: #00664E;
	background-color: #14C99F;
	text-decoration: underline;
	border-radius: 7px;
	border: 6px solid #14C99F;
}
.monexperience:hover {
	color: #00664E;
	background-color: #14C99F;
	text-decoration: underline;
	border-radius: 7px;
	border: 6px solid #14C99F;
}
.contact:hover {
	color: #00664E;
	background-color: #14C99F;
	text-decoration: underline;
	border-radius: 7px;
	border: 6px solid #14C99F;
}
/*Interactions des boutons contact*/
.mail:hover {
	opacity: 0.4;
}
.facebook:hover {
	opacity: 0.4;
}
.instagram:hover {
	opacity: 0.4;
}
.linkedin:hover {
	opacity: 0.4;
}
/*Autres interactions*/
a:hover {
	color: #12B38D;
}
.edward:hover {
	opacity: 0.5;
}
/*Clique des liens scolaires*/
.lyon:active {
	color: #FFC24A;
}
.laciotat:active {
	color: #FFC24A;
}
.marseille:active {
	color: #FFC24A;
}

/*Mise en place de mes containers*/
.entete {
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    gap: 200px;
    margin-bottom: 25px;
}
.titresnavigation {
	display: flex;
	gap: 60px;
}
.boutons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 250px;
	padding: 30px;
	padding-top: 34px;
}
.logo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.presentation {
	display: flex;
  	flex-direction: row;
  	padding: 270px;
  	justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #00664E;
    padding-bottom: 50px;
    padding-top: 50px;
}
.experience {
	display: flex;
  	flex-direction: row;
  	padding: 50px;
  	padding-left: 280px;
  	padding-top: 5px;
    align-items: center;
    gap: 240px;
}
li {
	padding-top: 15px;
}
.formation {
	display: flex;
  	flex-direction: row;
  	padding: 70px;
  	padding-left: 300px;
    align-items: center;
    gap: 260px;
}
.footer {
	background-color: #00664E;
	align-content: center;
}
.moi {
	color: #F4F2F1;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	padding-left: 160px;
	gap: 10px;
}
.edward {
	display: flex;
	margin-left: 20px;
}

/*Mise en forme du tableau*/
td {
	border: 1px solid #FFC24A;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 20px;
	padding: 10px;
}
th {
	border: 2px solid #FFC24A;
	color: #00664E;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 20px;
	padding: 10px;
}
table {
	border-collapse: collapse;
	align-items: center;
	align-content: center;
}

/*Mise en forme de mon formulaire  */
fieldset {
	margin-left: 325px;
	border: none;
  	border: 2px solid #FFC24A;
  	border-radius: 6px;
  	margin-bottom: 20px;
}
form {
	display: flex;
	flex-direction: column;
	margin-right: 350px;
	color: #FFC24A;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 15px;
}
input {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin: 10px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 6px;
	height: 12px;
	width: 150px;
}
.coordonees {
	display: flex;
	flex-direction: row;
	align-items: center
}
.questions {
	display: flex;
	flex-direction: row;
	color: #FFC24A;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 15px;
	gap: 15px;
	align-items: center
}
legend {
	color: #00664E;
	background-color: #FFC24A;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 25px;
	border: 2px solid #FFC24A;
	border-radius: 5px;
	padding: 5px;
}
.bouton {
	height: 25px;
	width: 90px;
	display: flex;
}
.container {
	height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 280px;
}
input#reseau {
	margin: 5px;
}

/*Responsive*/
@media only screen and (max-width: 1024px) {
    h1, h2, h3 {
        font-size: 35px;
    }
    .entete {
    	display: flex;
    	flex-direction: column;
    	gap: 10px;
    }
    .edward {
        display: none;
    }
    .formation {
    	padding: 40px;
    	gap: 10px;
    }
    .experience {
    	padding: 40px;
    	gap: 10px;
    }
    .boutons {
    	gap: 120px;
    }
    form {
    	display: flex;
    	margin-left: 27px;
    	align-items: center
    }
    input {
    	gap: 15px;
        width: 65px;
    }
    .container {
        margin-left: 280px;
    }
    .coordonees {
    	width: 50%;
    }
    div.moi {
    	padding-left: 0px;
    }
}



